.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: StarWarsFont;
  src: url(./images/Starjedi.ttf);
}

.title {
  font-family: StarWarsFont;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
}

.App-link {
  color: #61dafb;
}

.App-filters {
  background-image: url(./images/star-wars-banner-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5vw;
  min-height: 40vh;
}

@media(max-width:600px) {
  .App-filters {
    background-image: url(./images/star-wars-banner-art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    min-height: 40vh;
  }
}

button {
  background-color: #282c34;
  border-radius: 10%;
  color: white;
}

.p-filters {
  font-size: small;
}

.red-button {
  background-color: rgb(211, 47, 47);
}

.App-table {
  font-size: calc(1px + 2vmin);
  max-width: 10Ovw;
}

th {
  background-color: rgb(185, 182, 182);
}

tr {
  background-color: rgb(236, 235, 235);
}

.planet-image {
  background-image: url(./images/starwars-universe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vw;
  min-height: 40vh;
}

.App-footer {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(0.5px + 2vmin);
  justify-content: center;
  min-height: 10vh;
}

a {
  text-decoration-color: grey;
  color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
